/************BODY************/
body {
  background-color: #113e4c;
  color: #ffffff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
}

#portfolio {
  height: 1600px;
}

#about {
  height: 550px;
}

#contact {
  height: 400px;
}

.full-width {
  width: 100%;
  margin:0 auto;
  clear: both;
  text-align: center;
}

.third-width {
  width: 400px;
  float: left;
}

.button {
  float: right;
}

main h1, footer h1 {
  color: #db504a;
  font-family: 'Comfortaa',bold;
  font-size: 36pt;
  text-align: center;
  text-transform:lowercase;
}

/***************HEADER***************/

.half {
  float: left;
  width: 600px;
}

header {
  background:url('../img/slot-canyon-img.png');
  background-size: cover;
  height: 800px;
}

header h1{
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  font-weight: normal;
  margin-left: 30px;
}

header nav {
  float: right;
}

 header nav li {
   display: inline-block;
 }

header nav a {

  color: #e8c663;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  padding-left: 30px;
}

header h2 {
  font-family: 'Comfortaa',bold;
  font-size: 72px;
  padding-top: 350px;
}

h2 span {
  color: #db504a;
}
#hook {
  text-align: left;
}

/***********Portfolio*************/

.left {
  float: left;
  margin-left: 300px;
  margin-right: 25px;
  text-align: right;
  width: 300px;
}

.left img {
  width: 300px;
  margin-top: 60px;
}

.right {
  float: left;
  margin-left: 25px;
  margin-right: 300px;
  width: 300px;
  text-align:left;
}

.right img {
  width: 300px;
}

.left h2 a, .right h2 a {
  color: #e8c663;
  font-family: 'Slabo 27px', serif;
  font-size: 34px;
  text-align: center;
}
.left h3, .right h3 {
  font-family: 'Comfortaa',bold;
  text-transform: uppercase;
}

.left a, .right a {
  color: #e8c663;
  text-decoration: none;
}

/*****************ABOUT************/
#about {
  clear: both;
  background-image:url('../img/red-rocks-img.png');
  background-size: cover;
  padding-top: 15px;
}

#about h2 {
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
}

/****************footer************/

footer h2 {
    color: #e8c663;
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    text-align: center;
}

footer p {
  text-align: center;
}

footer li {
  display: inline-block;
  text-align: center;
  padding-left: 40px;
}
