/************BODY************/
body {
  background-color: #113e4c;
  color: #ffffff;
  font-family: 'Yantramanav', sans-serif;
  width: 1400px;
}

header {
  height: 800px;
}

#portfolio {
  height: 1550px;
}

#about {
  height: 550px;
}

#contact {
  height: 400px;
}

.full-width {
  width: 1200px;
}

.half-width {
  width:600px;
  float:left;
}

.third-width {
  width: 400px;
  float: left;
}
#button {
  float: right;
}
/***************HEADER***************/
header {
  background:url('../img/slot-canyon-img.png');
}
/***********Portfolio*************/
#portfolio h1 {
  color: #db504a;
  font-family: 'Comfortaa',bold;
  font-size: 36pt;
  text-align: center;
  text-transform:lowercase;
}
#portfolio h2 {
  color: #e8c663;
  font-family: 'Slabo 27px', serif;
}

#portfolio h2 a {
  color: #e8c663;
  text-decoration: none;
}

#portfolio h3 {
  color: #e8c663;

}

#jubilee, #rougue, #holstee {
  background-color: #4cb297;
  padding: 10px;
  margin: 10px;
  width: 500px;
}

#rogue {
  clear: both;
}

#portfolio img {
  border-radius: 10px, solid;
  border-color: #4cb297;
  width: 50%;
  width: 50%;
}

/*****************ABOUT************/
#about {
  background-image:url('../img/red-rocks-img.png');
  clear: both;
}
#about h1 {
  color: #db504a;
  font-family: 'Comfortaa',bold;
  font-size: 36pt;
  text-align: center;
  text-transform:lowercase;
}
#about h2 {
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
}
#about h2, #about p {
  margin-left: 100px;
}

/****************CONTACT************/
#contact h1 {
  color: #db504a;
  font-family: 'Comfortaa',bold;
  font-size: 36pt;
  text-align: center;
  text-transform:lowercase;
}

#contact h2 {
    color: #e8c663;
    text-align: center;
}

#contact p {
  text-align: center;
}

#contact li {
  display: inline-block;
  text-align: center;
  padding-left: 50px;
}
